<div class="title">
  <h1>Projects/Experience</h1>
  <div class="line"></div>
  <p class="alt">Click on the projects to see more information.</p>
</div>

<div class="timeline">
  <div
    *ngFor="let item of timelineData"
    [class]="
      item.isLeft ? 'container left-container' : 'container right-container'
    "
    (click)="openDetailDialog(item)"
  >
    <img [src]="item.imageSrc" [alt]="item.altText" />
    <div class="text-box">
      <h2>{{ item.title }}</h2>
      <small>{{ item.date }}</small>
      <p>{{ item.description }}</p>
      <span class="left-container-arrow" *ngIf="item.isLeft"></span>
      <span class="right-container-arrow" *ngIf="!item.isLeft"></span>
    </div>
  </div>
</div>
