<div class="timeline">
  <div class="container left-container">
    <img src="../../assets/assuresoft_logo.jpeg" alt="Assuresoft Logo" />
    <div class="text-box">
      <h2>Assuresoft</h2>
      <small>2020 - 2022</small>
      <p>
        Developed an app as a group using agile methodologies. Worked on a
        academid website meant to help the new hirees to get trained on the
        technologies they would work on later on.
      </p>
      <span class="left-container-arrow"></span>
    </div>
  </div>
  <div class="container right-container">
    <img
      src="../../assets/Cleveland_State_University_logo.png"
      alt="Cleveland state Logo"
    />
    <div class="text-box">
      <h2>Assuresoft</h2>
      <small>2020 - 2022</small>
      <p>Developed an app as a group using agile methodologies.</p>
      <span class="right-container-arrow"></span>
    </div>
  </div>
  <div class="container left-container">
    <div class="text-box">
      <h2>Assuresoft</h2>
      <small>2020 - 2022</small>
      <p>Developed an app as a group using agile methodologies.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>
  <div class="container right-container">
    <div class="text-box">
      <h2>Assuresoft</h2>
      <small>2020 - 2022</small>
      <p>Developed an app as a group using agile methodologies.</p>
      <span class="right-container-arrow"></span>
    </div>
  </div>
  <div class="container left-container">
    <div class="text-box">
      <h2>Assuresoft</h2>
      <small>2020 - 2022</small>
      <p>Developed an app as a group using agile methodologies.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>
  <div class="container right-container">
    <div class="text-box">
      <h2>Assuresoft</h2>
      <small>2020 - 2022</small>
      <p>Developed an app as a group using agile methodologies.</p>
      <span class="right-container-arrow"></span>
    </div>
  </div>
  <div class="container left-container">
    <div class="text-box">
      <h2>Assuresoft</h2>
      <small>2020 - 2022</small>
      <p>Developed an app as a group using agile methodologies.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>
</div>
