<header>
  <div class="logo">
    <h1><a routerLink="/#">FHJ</a></h1>
  </div>
  <span class="fas fa-bars" id="menuIcon" (click)="toggle()"></span>
  <div class="navbar" [ngClass]="{ active: isNavActive }">
    <ul>
      <li>
        <a routerLink="#" (click)="closeMenu()">Home</a>
      </li>
      <li>
        <a routerLink="/projects" (click)="closeMenu()">Projects</a>
      </li>
      <li>
        <a routerLink="/skills" (click)="closeMenu()">Skills</a>
      </li>
      <li>
        <a routerLink="/about" (click)="closeMenu()">About</a>
      </li>
      <li>
        <a routerLink="#" id="resume" (click)="closeMenu()">Resume</a>
      </li>
    </ul>
  </div>
</header>
