<header>
  <div class="logo">
    <h1><a href="/#">FHJ</a></h1>
  </div>
  <span class="fas fa-bars" id="menuIcon" (click)="toggle()"></span>
  <div class="navbar" [ngClass]="{ active: isNavActive }">
    <ul>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/skills">Skills</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="#" id="resume">Resume</a>
      </li>
    </ul>
  </div>
</header>
