.footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #000c18;
}

.contact {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.line {
  width: 50%;
  height: 2px;
  background-color: #ccc;
  border-radius: 2px;
  margin: 20px auto;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding-bottom: 35px;
}

.socials a {
  text-decoration: none;
  color: inherit;
}

.socials i {
  font-size: 1.8rem;
}
