/* You can add global styles to this file, and also import other style files */

body {
  font-family: "source-code-pro";
  background-color: #0a100d;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}
