<div class="title">
  <h1>Skills</h1>
  <div class="line"></div>
</div>

<div class="filter-buttons">
  <button *ngFor="let category of categories" (click)="filterSkills(category)">
    {{ category }}
  </button>
</div>

<!-- Skills grid -->
<div class="skills-list">
  <div
    *ngFor="let skill of filteredSkills"
    class="skill-item"
    (click)="openModal(skill)"
  >
    <span>{{ skill.name }}</span>
  </div>
</div>

<!-- Modal -->

<div class="modal-backdrop" *ngIf="selectedSkill" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <span class="circle red"></span>
      <span class="circle yellow"></span>
      <span class="circle green"></span>
    </div>
    <div class="modal-body">
      <pre>
$ cat {{ selectedSkill.name }}.txt

{{ selectedSkill.description }}
      </pre>
    </div>
  </div>
</div>

<!-- Photo collage -->
<div class="title">
  <h1>Awards</h1>
  <div class="line"></div>
</div>
<div class="image-collage">
  <div class="image-wrapper" *ngFor="let item of images">
    <img [src]="item.src" [alt]="item.alt" class="collage-image" />
    <div class="hover-overlay">
      <p>{{ item.info }}</p>
    </div>
  </div>
</div>
