.skills {
  margin-top: 30px;
  justify-content: center;
  display: flex;
  overflow-x: scroll;
  border-radius: 7px;
}

.items {
  display: flex;
  /* max-height: 900px; */
  border-radius: 7px;
  justify-content: space-evenly;
}

.items::-webkit-scrollbar {
  width: 0;
}

.items img {
  max-height: 60%;
  max-width: 60%;
  border-radius: 50%;
  margin-top: 20px;
}

.items .item {
  min-width: 400px;
  height: 600px;
  line-height: 50px;
  text-align: center;
  background-color: white;
  margin-right: 5px;
  border-radius: 7px;
}

.items .phrase {
  margin: 25px;
}
