<div class="skills">
  <div class="items">
    <div class="item">
      <img src="../../assets/C++-Logo.svg" alt="C++ logo" />
      <div class="phrase">
        <p>
          I learned C++ in one of my CIS classes, but I later enhanced it by
          using it for competetitive programming competitions.
        </p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/C-logo.png" alt="C Logo" />
      <div class="phrase">
        <p>
          Learned C for my CIS class, worked with a couple projects with it.
        </p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/web:dev.png" alt="Web Dev Logo" />
      <div class="phrase">
        <p>Learned web dev on my own, and in my internship using full stack.</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/python-logo.png" alt="Python Logo" />
      <div class="phrase">
        <p>Learned python in my first python class</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/Linux-logo.jpeg" alt="Linux Logo" />
    </div>
    <div class="item">
      <img src="../../assets/Java-logo.png" alt="Java Logo" />
      <div class="phrase">
        <p>Learned java</p>
      </div>
    </div>
  </div>
</div>
