<div class="skills">
  <div class="items">
    <div class="item">
      <img src="../../assets/C++-Logo.svg" alt="C++ logo" />
      <div class="phrase">
        <p>
          I learned C++ in one of my CIS classes, but I later enhanced it by
          using it for competetitive programming competitions.
        </p>
      </div>
    </div>
    <div class="item">Skill 1</div>
    <div class="item">Skill 1</div>
    <div class="item">Skill 1</div>
    <div class="item">Skill 1</div>
  </div>
</div>
